.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.container {
  width: 40%;
  padding: 2rem 0rem;
  margin: 10rem 0;
  background-color: #ffffff;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-box {
  text-align: center;
}

.img-box img {
  width: 50%;
}

.container h1 {
  font-size: 2.4rem;
  letter-spacing: 0.8px;
  margin-bottom: 1rem;
}

.container p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 350;
  margin-bottom: 2rem;
}

.d-c {
  width: 25rem;
  margin-bottom: 2rem;
  border: 2px solid #e3e7eb;
  background-color: #f8f9fa;
  color: #b7babf;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.d-c:focus {
  outline: 2px solid #afcbe8;
  color: #636363;
}
